:root {
	--primary-color: rgb(13, 106, 134);
	--primary-color-darker: rgb(9, 48, 56);
}
* {
	* box-sizing: border-box;
	* outline: 0;
}

h1 {
	
}

body {
	margin:0;
	padding:0;
	background: var(--primary-color);
	font-size: 1.3em;
	line-height: 1.5em;
}

.container {
	max-width: 640px;
	margin: 100px auto;
	background: #fff;
	padding:10px;
	border-radius: 10px;
}

#soma{
	position:relative;
	left:190px;
	top: 15px;
}

h1{
	position:relative;
	left: 200px;
}

#primeiro_input{
	width: 80px;
	position: relative;
	
}

#segundo_input{
	width: 80px;
	position: relative;
	
}

#operacao{
	width: 80px;
	position:relative;
	left: 62px;
}

#botao{
	position:relative;
	left:155px;

}
